.Nav-Main {
    background-color: #B71C1C!important;
    box-shadow: 0px 0px 20px 0px black!important;
    margin-bottom: 2em;
}

.Nav-Main h1 {
    color: white!important;
    font-size: 3em!important;
    text-align: center;
    font-family: 'Italianno', cursive;
}

.Nav-Main .dropdown > div {
    background-color: red!important;
}